<%= form_for @shop, url: user_shop_path(@user) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop_name %><br>
    <%= f.text_field :shop_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
