<p id="notice"><%= notice %></p>
<% if @shop %>
  <p>
    <strong>Shop name:</strong>
    <%= @shop.shop_name %>
    <%= link_to 'Edit', edit_user_shop_path(@user) %> |
    <%= link_to 'Destroy', user_shop_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </p>
<% else %>
  <h1><%= @user.full_name %>do not have shop right now.</h1>
  <%= link_to 'new', new_user_shop_path(@user) %>
<% end %>
<%= link_to 'Back', users_path %>
