<div ng-controller="UserIndexController">
  <p id="notice"><%= notice %></p>

  <h1>Listing Users</h1>
  <h5>(total user: <strong id="user-count"> {{ users.length }}</strong>)</h5>

  <table>
    <thead>
      <tr>
        <th>Last name</th>
        <th>First name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="user in users track by user.id.$oid">
        <td class="last_name">{{ user.last_name }}</td>
        <td class="first_name">{{ user.first_name }}</td>
        <td> <%= link_to 'show','#','ng-href' => "#{users_path()}/{{user.id.$oid}}" %>
        <td><button ng-click="openEditUserForm(user)">Edit</button></td>
        <td><button confirm-click="deleteUser(user.id.$oid)" confirm-alert-message="Are you sure?">Destroy</button></td>
        <td> <%= link_to 'shop','#','ng-href' => "#{users_path()}/{{user.id.$oid}}/shop" %>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <%= link_to 'New User', new_user_path %>
</div>