<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <div id="last_name"><%= @user.last_name %></div>
</p>

<p>
  <strong>First name:</strong>
  <div id="first_name"><%= @user.first_name %></div>
</p>

<p>
  <strong>address:</strong>
  <div id="address_country"><%= @user.address[:country] %></div>
</p>

<p>
  <strong>First name:</strong>
  <div id="address_address_1"><%= @user.address[:address_1] %></div>
</p>

<p>
  <strong>First name:</strong>
  <div id="address_address_2"><%= @user.address[:address_2] %></div>
</p>

<%= link_to 'Back', users_path %>
