<form name="myForm" ng-submit="submit()" id="userForm">

  <div class="form-group" ng-class="{ 'has-error' : myForm.firstname.$dirty && myForm.firstname.$invalid }">
    <label>First Name:</label>
    <input type="text" name="firstname" class="form-control" ng-model="user.first_name" required >
    <span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
      <span ng-show="myForm.firstname.$error.required">First Name is required.</span>
    </span>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : myForm.lastname.$dirty && myForm.lastname.$invalid }">
    <label>Last Name:</label>
    <input type="text" name="lastname" class="form-control" ng-model="user.last_name" required>
    <span style="color:red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
      <span ng-show="myForm.lastname.$error.required">Last Name is required.</span>
    </span>
  </div>

  <div>
    <label>Gender:
      <div ng-repeat="gender in genders track by $index">
        <input type="radio" name="gender" ng-model="user.gender" ng-value="gender"> {{ gender }}
      </div>
    </label>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : myForm.age.$dirty && myForm.age.$invalid }">
    <label>Age:</label>
    <input type="number" name="age" class="form-control" ng-model="user.age" ng-min="1"  ng-max="199">
    <span style="color:red" ng-show="myForm.age.$dirty && myForm.age.$invalid">
      <span ng-show="myForm.age.$error.max || myForm.age.$error.min">Age range should be 1~99.</span>
    </span>
  </div>

  <div class="form-group">
    <label>country:</label>
    <input type="text" class="form-control" ng-model="user.address.country">
  </div>

  <div class="form-group">
    <label>address_1:</label>
    <input type="text" class="form-control" ng-model="user.address.address_1">
  </div>

  <div class="form-group">
    <label>address_2:</label>
    <input type="text" class="form-control" ng-model="user.address.address_2">
  </div>

  <input type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">
</form>