<!DOCTYPE html>
<html>
<head>
  <title>OnboardingTask</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="onboardapp">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
